<a href="https://colab.research.google.com/github/Salatiel-GR/Codigos_en_Clase-1309/blob/main/Actividad_clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [ ]:
archivo = open('junio.dat' , 'rt' , encoding='latin-1')
print (archivo.read())

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [ ]:
class Trabajador:
    def_init_(self ,  nt , nom , pat , mat , he , sb , ai):
        self._numero_trabajador = nt 
        self._nombres = nom
        self._paterno = pat
        self._materno = mat
        self._horas_extra = he 
        self._sueldo:base = sb
        self._anio_de_ingreso = ai 
        #asi para todos los atributos
     #Aqui van todos los metodos de acceso
     def set_numero_trabajador(self , nt):
         self._numero_trabajador = nt 
    # metodos de uso general . ----> metodos que hacen calculos de la logi

In [ ]:
class NominaADT:
    def __init__(self , ruta_archivo):
    #abrir el archivo y determinar num de empleados ----->num_emp
    self.__data = Array( num_emp )
    def calcular_sueldos (self):
        #iterar sobre el Array y hacer el calculo de sueldos
    def buscar_mas_antiguo(self):
        #iterar y buscaren el Array el de mayor antiguedad en el puesto

    def buscar_menor_antiguedad(self):
        #iterar y buscaren el Array el de menor antiguedad en el puesto

In [ ]:
sueldo_base = 100
anio = 2019
anti = 2
prestacion = 100*(2*0.03)
print(sueldo_base + prestacion)

106.0